.custom-table {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.custom-table th {
    background-color: #f3f3f3;
    font-weight: bold;
    color: #444;
}
.golden-table {
    border: 1px solid #0176d3;
}
.golden-table th {
    background-color: #e0f0fa;
    color: #0176d3;
}

.scrollable-container {
    max-height: 600px;
    overflow-y: auto;
}
